# Created by .ignore support plugin (hsz.mobi)
.idea/$CACHE_FILE$
.idea/$PRODUCT_WORKSPACE_FILE$
.idea/.gitignore
.idea/codeStyles/
.idea/dbnavigator.xml
.idea/inspectionProfiles/
.idea/markdown-navigator.xml
.idea/misc.xml
.idea/modules.xml
.idea/uiDesigner.xml
.idea/vcs.xml
out/
